<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hauler Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/logo.png" />
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="login-wrapper">
        <h3>Hauler Login</h3>
        <div class="login">
            <form action="/hauler/login" method="post">
                <input name="username" type="text" placeholder="username">
                <input name="password" type="password" placeholder="password">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <script src="" async defer></script>
</body>

</html>