<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Multi-Lemm Logistics</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/logo.png" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/scroll.css">
    <link rel="stylesheet" href="css/toast.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <header style="position: relative;">
        <div id='navContainer' class='navContainer'>
            <h3 class='title'><a href='/'>Multi-Lemm Logistics</a></h3>
            <div style='float:right'>
                <ul class='navList'>
                    <li class='navLink'><a href="/perjumpcalculator">BR/DST/Freighter Calculator</a></li>
                    <li class='navLink'><a href="/">Home</a></li>
                    <li class='navLink'><a href='https://discord.gg/kgBGPKuwQ9' target="_blank">DISCORD</a></li>
                    <li class='navLink'><a
                            href='https://www.pandemic-horde.org/forum/index.php?threads/multi-lemm-logistics-jf-freighter-br-service-covering-tke-def-custom-routes.2872/'
                            target="_blank">FORUMS</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="loading">
            <img src="img/loading.gif">
        </div>
        <div class="statictics">
            <h5 style="font-weight: 300; margin:  5px 0;">Contracts in queue : <span class="outstanding">-</span></h5>
            <h5 style="font-weight: 300; margin:  5px 0;">Average Completion Time : <span class="completion">-</span>
            </h5>
            <h6 style="margin-top: 10px; font-size: 0.7rem;">(Based on the averages of last 50 contracts)</h6>
        </div>
        <div class="calculator">
            <h1>JF Calculator</h1>
            <label>Start:
                <select name="route" id="start">
                    <% routesAdded = [] %>
                    <% routes.forEach(route=>{ %>
                    <% if(!routesAdded.includes(route.start)){%>
                    <option value='<%=route.start%>'><%=route.start%></option>
                    <% routesAdded.push(route.start) %>
                    <%}%>
                    <% }); %>
                    <option hidden disabled selected value> -- </option>
                </select>
            </label>
            <label>Destination:
                <select name="route" id="finish">
                    <option hidden disabled selected value> -- </option>
                </select>

            </label>



            <label style="display: block; margin-top: 25px;" class="checkbox">
                Rush Shipping :
                <input type="checkbox" id="rush">
                <img src="/img/info-button.png" style="height: 15px; margin-left: 5px;opacity: 0.75;cursor: pointer;"
                    title="Rush shipments are guaranteed to be completed within 24 hours or your money back"> </input>


            </label>



            <div class="route-limits" style="flex-wrap: wrap;">
                <div class="route-limits" style="width: 100%;border: none; margin-bottom: 25px;">
                    <label>Route Pricing : <span id="route-price">-
                            ISK</span></label>
                    <label>Minimum Reward : <span id="min-reward">- ISK</span></label>
                </div>
                <label>Maximum Volume : <span id="max-volume">- m<sup>3</sup></span></label>
                <label>Maximum Collateral : <span id="max-collateral">- ISK</span></label>
                <div class="route-limits" style="width: 100%;border: none; margin-bottom: 25px;">
                    <label>Rush Shipping: <span id="route-rush">N/A</span></label>

                    <label>Rush Shipping Charge : <span id="route-rush-charge">- ISK</span></label>
                </div>
                <h3 style="margin-top: 25px;">No assembled containers or ships!</h3>
            </div>
            <label class="item-list">
                Item List:
                <textarea placeholder="Item List" name="itemList" id="item-list"></textarea>
            </label>
            <div class="additional-wrapper">
                <label class="additional">
                    Additional Volume
                    <input type="text" placeholder="Additional Volume" id="additional-volume" value="0">
                </label>
                <label class="additional">
                    Additional Collateral
                    <input type="text" placeholder="Additional Collateral" id="additional-collateral" value="0">
                </label>
                <button onclick="clearStuff()">Clear</button>
                <button onclick="submit()">Submit</button>
            </div>
        </div>

        <div class="contract">
            <!-- <h4>Total Volume : <%= (!!locals.volume)?volume:'0' %> m<sup>3</sup></h4>
            <h4>Total Price : <%= (!!locals.price)?price:'0' %> ISK</h4> -->
            <mark class="parse-status success">PARSED SUCCESSFULY</mark>
            <mark class="error-lines">
                Invalid Items:
                <ul>
                    -
                </ul>
            </mark>

            <table>
                <tr>
                    <th colspan="2" style="border-right: none;">Contract Description</th>
                </tr>
                <tr>
                    <td colspan="2" style="border-right: none;" id="description">-</td>
                </tr>
                <tr>
                    <th>Ship From</th>
                    <th>Ship To</th>
                </tr>
                <tr>
                    <td id="ship-from">-</td>
                    <td id="ship-to">-</td>
                </tr>
                <tr>
                    <th>Contract To</th>
                    <th>Rush Shipping</th>
                </tr>
                <tr>
                    <td>Multi-Lemm Logistics</td>
                    <td id="rush-status">-</td>
                </tr>
                <tr>
                    <th>Total Volume</th>
                    <th>Jita Sell Price</th>
                </tr>
                <tr>
                    <td id="volume">-</td>
                    <td id="price">-</td>
                </tr>

                <tr>
                    <th>Contract Reward</th>
                    <th>Contract Collateral</th>
                </tr>
                <tr>
                    <td id="reward">-</td>
                    <td id="collateral">-</td>
                </tr>
                <tr>
                    <th>Expiration</th>
                    <th>Days To Complete</th>
                </tr>
                <tr>
                    <td id="expiration">7 days</td>
                    <td id="days-to-complete">3 days</td>
                </tr>

            </table>
        </div>

    </div>
    <script src="js/statistics.js" async defer></script>
    <script src="js/jfcalculator.js" async defer></script>
    <script src="js/navbar.js" async defer></script>
    <script src="js/copy.js" async defer></script>
    <script src="js/toast.js" async defer></script>

</body>

</html>
