* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}



nav {
    position: sticky;
    top: 0;
    padding: 20px 0;
    width: 100%;
    background-color: #000;
    color: #fff;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.25rem;
}

nav ul li {
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s;
}

nav ul li:hover {
    color: #6287ff
}

.main {
    padding: 10px 30px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr:hover , tr.selected {
    background-color: rgb(174, 202, 209) !important;
    transition: all 0.1s;
}


table,
th,
tr,
td {
    border: 1px solid #333;
}

th,
td {
    padding: 5px;
    text-align: center;
}

#mail {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
}

#mail button {
    width: 100%;
}
