* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #eee;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer a {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #222;
}

hr {
  margin: 0 auto;
  width: 33%;
}

.topContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/video-preload.jpeg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.navContainer {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  max-width: 100vw;
  padding: 20px 25px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #eee;
  transition: all;
  transition-duration: 0.5s;
  font-size: 1.5rem;
  backdrop-filter: blur(5px);
}

.title {
  display: inline;
  font-size: 1.5rem;
  color: #eee;
  font-weight: 400;
  letter-spacing: 1.5;
  text-transform: uppercase;
}

.navList {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.navLink {
  display: flex;
  margin: 0 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.85rem !important;
  letter-spacing: 1.25pt !important;
  text-transform: uppercase;
  cursor: pointer;
}

.discord {
  display: inline-block;
  height: 1rem;
}

.headingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 100%;
}

.mainLogo {
  width: 12.5%;
  border-radius: 1000px;
}

.mainHeading {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 2;
  color: #eee;
  text-transform: uppercase;
  /* text-shadow:1px 1px 5px #333; */
}

.subHeading {
  margin-top: -25px;
  color: #eee;
  font-size: 1.25rem;
  font-weight: 400;
}

.mainButton {
  margin: 15px;
  padding: 10px 25px;
  font-family: "Montserrat", sans-serif;
  border: #eee 1px solid;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  font-size: 1.1rem;
  color: #eee;
  text-transform: uppercase;
  cursor: pointer;
  transition: all;
  transition-duration: 0.25s;
}

.mainButton:hover {
  background-color: #eee;
  color: #222;
}

.bottomContainer {
  width: 100vw;
  max-width: 100%;
  background-color: transparent;
}

.parallaxContainer {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  height: 85vh;
  width: 100%;
}

.parallaxContainerContent {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 75%;
  text-align: left;
}

.parallaxHeading {
  color: #eee;
  display: inline;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  /* border-bottom: 1px solid #eee; */
}

.parallaxSubheading {
  color: #eee;
  margin-top: 50px;
  font-size: 0.85rem;
  line-height: 2;
  word-spacing: 1;
  font-weight: 400;
  text-align: left;
  width: 75%;
}

#vedmak {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../img/bg.jpg);
}

.corpHeadingContainer {
  margin: 100px auto;
  width: 80%;
  text-align: center;
}

.corpHeading {
  display: inline;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
}

.corpSubheading {
  color: #555;
  margin-top: 50px;
  font-size: 1rem;
  line-height: 2;
  word-spacing: 1;
  font-weight: 400;
  text-align: center;
}

.thumbContainerHeading {
  display: inline;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}

.thumbContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 100%;
  height: fit-content;
}

.thumb {
  display: inline-block;
  height: 500px;
  width: 350px;
  margin-bottom: 25px;
  border: #aaa 1px solid;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  transition: all;
  transition-duration: 0.5s;
}

.thumb:hover {
  transform: translateY(-10px);
}

.thumbImage {
  height: 50%;
  width: 100%;
  transform: translateX(0);
  object-fit: cover;
  transition: all 0.2s;
}

.thumb:hover .thumbImage {
  height: 55%;
}

.thumbHeading {
  margin: 15px 10px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
}

.thumbText {
  margin: 15px 15px;
  text-align: justify;
  text-align-last: center;
  color: #222;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.5;
  word-spacing: 0.15;
}

.joinUsList {
  margin: 25px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: #222;
}

.joinUsListElement {
  margin: 5px 0;
  line-height: 2;
}

.link {
  text-decoration: underline;
  font-weight: 800;
}

.footer {
  padding: 10px;
  background-color: #000;
  text-align: center;
  font-size: 0.85rem;
}

.footerText {
  font-size: 0.8rem;
  color: #eee;
  font-weight: 300;
  line-height: 1.5;
}